<!DOCTYPE html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>
<body>
  <h2 align='center'> Timetabler </h2>
  <div id="courses">
  </div>
  <br><br>
  View a courses timetable <br>
  <input type='textarea' id='course'size='100'>
  <button id='send'>View </button>
<button id='clear'>Clear All </button>
<select id='allCourses'>
  <% for (i in allCourses) {
    %> <option value="<%=allCourses[i]%>"> <%=allCourses[i]%> </option><%
  }%>
</select>
<script>
  $('#clear').on('click',function(event) {
    $('#courses').html('<div></div>');
    $('#course').val('');
  });
  $('#allCourses').on('change',function(event){
    var val = $('#allCourses').find(':selected').text();
    currentVal = $('#course').val();

    val = val.substr(1,val.length);
    val = (currentVal == '')?val: ','+val;
    $('#course').val(currentVal + val);
  });
  $('#send').on('click',function (event) {
    var courses = [];
    var input = $('#course').val().split(',');
    for (x in input) {
      courses.push(input[x]);
    }
      $.post('/process',{
        'courses': courses
      }).done(function(data) {
        if(data.complete) {
          $('#courses').append("<h2> These are the time slots for "+data.names+"</h2>");
          if(data.times == 'No Solution') {
            $("#courses").append('No Solution');
          }
          else {
            for(i in data.times) {
              $("#courses").append(data.names.split(' and ')[i]+' '+JSON.stringify(data.times[i])+'<br>');
            }
          }
        }
        else {
          $('#courses').append("<h2> No Solution found for "+data.names+"</h2>");n
        }
      }
    );
  });
</script>
<p style="margin-top:500px"> &copy Abishek Puri and Hauton Tsang 2016 </p>
</body>
</html>
